input[required] {
    border: 1px solid red;
}

label {
    font-weight: bold;
    font-size: 1.2em;
}

input[type="text"] ,
input[type="url"] ,
input[type="email"] ,
textarea {
    background-color: gray;
}

input[name*="txt"] {
    width: 50px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

input[type="date"] ,
input[type="time"] ,
input[type="week"] ,
input[type="month"] {
    width: 200px;
}

input {
    padding: 10px;
}